@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: var(--foreground-color);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: rgb(198, 198, 198); /* Cambia este valor al color deseado */
}